@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif;
}

@theme {
    --color-primary: #000;
    --color-green: #4fbf8b;
    --color-primary-red: #f6514d;
    --color-red-dull: #f6514d;
}

.no-scrollbar::-webkit-scrollbar{
    display: none;
}

.logo{
    width: 50px;
    height: auto;
}

.categoryProducts{
    height: 330px;
    margin: auto;
    position: relative;
    width: 100%;
    display: flex;
}

.categoryProducts img{
    border-radius: 160px;
    object-fit: cover;
}


@media screen and (max-width: 1440px) {
    .categoryProducts{
        height: 220px;
    }
}

@media screen and (max-width: 992px) {
    .categoryProducts{
        height: 390px;
    }
}

@media (min-width: 600px) {
	.afContainer {
		max-width: 960px;
	}
}

@media (min-width: 768px) {
	.afContainer {
		max-width: 1140px;
	}
}

@media (min-width: 992px) {
	.afContainer {
		max-width: 1440px;
	}
}

@media (min-width: 1024px) {
	.afContainer {
		max-width: 1536px;
	}
}

@media (min-width: 1280px) {
	.afContainer {
		max-width: 2600px;
	}
}